* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url(https://i.picsum.photos/id/1073/5472/3648.jpg?hmac=xCDetU9pLnLGZopbvHOQOkQRhTiYwyrzWc0YyHPzp5Y);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.header {
  text-align: center;
  padding: 30px 5px 20px 5px;
  line-height: 1.2;
  background-color: rgba(212, 99, 179, 0.4);
  width: 100%;
}

#title {
  padding-bottom: 10px;
}

#description {
  padding-bottom: 10px;
  font-style: italic;
}

#survey-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(128, 8, 118, 0.8);
}

.label {
  padding-top: 20px;
  padding-bottom: 10px;
  /* font-weight: bold; */
  font-size: 20px;
}

.input,
#dropdown {
  border-radius: 0.25rem;
  padding: 10px;
  border: none;
  font-family: "Roboto", sans-serif;
  color: grey;
  font-size: 15px;
}

.clue {
  font-size: 15px;
  font-weight: lighter;
}

option {
  font-family: "Roboto", sans-serif;
}

.form-section {
  line-height: 1.8;
  font-size: 20px;
}

.form-section input {
  width: 20px;
  height: 20px;
}

textarea {
  border-radius: 0.25rem;
  padding: 8px;
  border: none;
  font-family: "Roboto", sans-serif;
  color: grey;
  font-size: 18px;
  margin-bottom: 25px;
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: orange;
  border: none;
  border-radius: 0.25rem;
  padding: 15px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 15px;
}

@media all and (min-width: 768px) {
  .header {
    background: none;
  }

  .container {
    background-color: rgba(212, 99, 179, 0.4);
  }

  #survey-form {
    width: 95%;
    border-radius: 0.25rem;
    padding: 30px 50px 30px 50px;
  }
}

@media all and (min-width: 1200px) {
  #survey-form {
    width: 50%;
  }
}
